# Wstęp do programowania

## Lista 1

Uzupełnij swoje dane poniżej, następnie przeczytaj treść zadań i umieść rozwiązania w odpowidenich komórkach pozostawionych w tym celu pod treścią. Pamiętaj dbać o specyfikację, czyli nazwy zmiennych oraz odpowiednie rozmieszczenie komórek. Jeśli uruchomisz wszystkie komórki, dokument powinien działać bez błędów.

  * **Imię:** Maciej
  * **Nazwisko:** S
  * **Numer indeksu:**

### Zadanie 1

Zapoznaj się z [dokumentacją](https://docs.python.org/3/reference/expressions.html#operator-precedence) opisującą kolejność wykonywania oraz wiązanie operatorów. 

#### Podpunkt a

Zaproponuj fragment kodu pokazujący, że operator potęgowania `**` ma wyższy priorytet niż operator mnożenia.

In [3]:
3 * 2 ** 2 == 2 ** 2 * 3

True

#### Podpunkt b

O wiązaniu w lewo mówimy, gdy wyrażenie `a + b + c` jest rozumiane jako `(a + b) + c`, natomiast w prawo, gdy `a + b + c = a + (b + c)`. Jest to istotne, ponieważ jak wiemy z wykładu, operacje zmiennoprzecinkowe nie muszą być łączne, zatem oba nawiasowania mogą dać różne wyniki nawet dla dodawania (które w języku Python wiąże w lewo).

Dobierz przykłady pokazujące, że operator potęgowania wiąże w prawo.

In [7]:
print(2 ** 2 ** 3 == 2 ** 8)
2 ** 3 ** 2 == 8 ** 2

True

False

### Zadanie 2

Oblicz pole trójkąta o zadanych bokach, zapisanych w zmiennych `a`, `b` oraz `c`.

In [10]:
a = 3
b = 5
c = 7
# Wzrór Herona
p = 0.5 * (a+b+c)
pole = (p * (p - a) * (p - b) * (p - c)) ** 0.5

_Rozwiązanie umieść poniżej, po wywołaniu komórki odpowiedź powinna być zapisana w zmiennej `pole`. Możesz utworzyć dowolnie wiele zmiennych pomocniczych._

In [11]:
pole = pole

**Odpowiedź:** Pole wynosi

In [12]:
pole

6.49519052838329

### Zadanie 3

Dzień juliański to liczba dni od 1 stycznia 4713 r. p.n.e. według kalendarza juliańskiego. Jeśli dzień, którego szukamy jest w zmiennych $D$, $M$, $R$ oznaczających dzień, miesiąc i rok odpowiednio, dzień juliański $d$ wyliczymy ze wzorów

$$ a = \left\lfloor\frac{14 - M}{12}\right\rfloor, $$
$$ y = R + 4800 - a,$$
$$ m = M + 12a - 3,$$
$$ d = D + \left\lfloor\frac{153m+2}{5}\right\rfloor + 365y+ \left\lfloor\frac{y}{4}\right\rfloor - \left\lfloor\frac{y}{100}\right\rfloor + \left\lfloor\frac{y}{400}\right\rfloor - 32045.$$

#### Podpunkt a

Oblicz dzień juliański odpowiadający dacie 29 maja 2015 roku (jest to data formalnego wydzielenia Wydziału Matematyki Politechniki Wrocławskiej z Wydziału Podstawowych Problemów Techniki).

In [17]:
import math
D1 = 29
M1 = 5
R1 = 2015
a = math.floor((14 - M1) / 12)
y = R1 + 4800 - a
m = M1 + 12 * a - 3
d = D1 + math.floor((153 * m + 2) / 5) + 365 * y + math.floor(y / 4) - math.floor(y / 100) + math.floor(y / 400) - 32045

_Rozwiązanie umieść poniżej, po wywołaniu komórki odpowiedź powinna być zapisana w zmiennej `wmat`. Możesz utworzyć dowolnie wiele zmiennych pomocniczych._

In [18]:
wmat = d

**Odpowiedź:** Dzień juliański odpowiadający 29 maja 2015 roku to

In [19]:
wmat

2457172

#### Podpunkt b

Wiedząc, że 1 stycznia 4713 r. p.n.e. był poniedziałek, oblicz, w jaki dzień tygodnia utworzono wydział matematyki (podpowiedź, przyda Ci się operacja reszty z dzielenia). Przyjmij następujące kodowanie dla dni tygodnia:

| Numer  | Dzień         |
| ------ | ------------- |
| 1      | poniedziałek  |
| 2      | wtorek        |
| 3      | środa         |
| 4      | czwartek      |
| 5      | piątek        |
| 6      | sobota        |
| 7      | niedziela     |

_Rozwiązanie umieść poniżej, po wywołaniu komórki odpowiedź powinna być zapisana w zmiennej `dzień`. Możesz utworzyć dowolnie wiele zmiennych pomocniczych._

In [23]:
dzień = wmat % 7 + 1

**Odpowiedź:** 29 maja 2015 był dzień tygodnia o numerze

In [24]:
dzień

5

#### Podpunkt c

Kasia chce złożyć wypowiedzenie w swojej obecnej pracy. Obowiązuje ją miesięczny okres wypowiedzenia, który zgodnie z prawem kończy się w ostatni dzień miesiąca następującego po miesiącu złożenia wypowiedzenia. Jeśli Kasia złoży wypowiedzenie tuż po przyjściu do pracy dnia 26 października 2022 roku, ile dni będzie musiała przepracować? Kasia pracuje od poniedziałku do piątku, zatem do wyniku nie wliczaj dni weekendu.

In [27]:
D2 = 26
M2 = 10
R2 = 2022

_Rozwiązanie umieść poniżej, po wywołaniu komórki odpowiedź powinna być zapisana w zmiennej `dni_pracy`. Możesz utworzyć dowolnie wiele zmiennych pomocniczych._

In [36]:
# Ostatni dzien pracy (dzien julianski)
Dk = 30
Mk = 11
Rk = 2022
a = math.floor((14 - Mk) / 12)
y = Rk + 4800 - a
m = Mk + 12 * a - 3
dzien_konca = Dk + math.floor((153 * m + 2) / 5) + 365 * y + math.floor(y / 4) - math.floor(y / 100) + math.floor(y / 400) - 32045

# Obliczenie dnia julianskiego 26.10
a = math.floor((14 - M2) / 12)
y = R2 + 4800 - a
m = M2 + 12 * a - 3
dzien_pocz = D2 + math.floor((153 * m + 2) / 5) + 365 * y + math.floor(y / 4) - math.floor(y / 100) + math.floor(y / 400) - 32045

dzien_tyg = 0
dni_pracy = 0

# +1 zeby sprawdzic ostatni
while dzien_konca + 1 != dzien_pocz:
    dzien_tyg = dzien_pocz % 7 + 1
    if dzien_tyg != 6 and dzien_tyg != 7:
        dni_pracy += 1
    dzien_pocz += 1
dni_pracy

26

**Odpowiedź:** Liczba dni, którą Kasia musi chodzić do pracy, to

In [37]:
dni_pracy

26

### Zadanie 4

Do przybliżenia liczby $\pi$ można użyć następującego równania, które pozwala je wyznaczyć z dokładnością do 18 miejsc po przecinku.

$$ \pi \approx \frac{80\sqrt{15}(5^4+53\sqrt{89})^\frac{3}{2}}{3308(5^4+53\sqrt{89})-3\sqrt{89}}$$

Zaimplementuj przybliżenie liczby $\pi$ i zapisz do zmiennej `pi`.

In [38]:
pi = (80 * math.sqrt(15) * (5 ** 4 + 53 * math.sqrt(89)) ** (3/2)) / (3308 * (5 ** 4 + 53 * math.sqrt(89)) - 3 * math.sqrt(89))

**Odpowiedź:** Przybliżenie wartości $\pi$, to

In [39]:
pi

3.141592653589793

### Zadanie 5

Załóżmy, że zakładamy $n$-letnią lokatę na $p$ procent w skali roku z $m$ kapitalizacjami w ciągu roku. Oznacza to, że po dowolnym spośród $n\cdot m$ okresów kapitalizacji, zarobimy $\frac{p}{m}$ procent (bank zaokrągli kwotę w dół do pełnych groszy). Następnie, odliczony zostanie podatek od dochodów kapitałowych (19%). Kwota po odliczeniu podatku zostanie ponownie zaokrąglona do pełnych groszy w dół i doliczona do początkowego kapitału, który będzie „pracował” w kolejnym okresie kapitalizacji.

##### Podpunkt a

Dla uproszczenia pomińmy chwilowo dwa miejsca, w których zaokrąglamy kwoty w dół do pełnych groszy.

Ile procent początkowej kwoty zarobi każda z poniższych lokat?

  * dwuletnia na 2.3% w skali roku z rocznym okresem kapitalizacji,

In [56]:
n1 = 2
p1 = 0.023
m1 = 1

procent1 = 1

for i in range(n1 * m1):
    x = procent1
    procent1 = procent1 * (1 + p1)
    procent1 -= abs(x - procent1) * 0.19

procent1

1.0376070768999999

   * dwuletnia na 2.25% w skali roku z półrocznym okresem kapitalizacji,

In [58]:
n2 = 2
p2 = 0.0225
m2 = 2

saldo = 1

for i in range(n2 * m2):
    x = saldo
    saldo = saldo * (1 + p1)
    saldo -= abs(x - saldo) * 0.19

procent2 = saldo
procent2

1.0766284460329625

  * dwuletnia na 2.2% w skali roku z kwartalnym okresem kapitalizacji,

In [59]:
n3 = 2
p3 = 0.022
m3 = 4

saldo = 1

for i in range(n3 * m3):
    x = saldo
    saldo = saldo * (1 + p1)
    saldo -= abs(x - saldo) * 0.19

procent3 = saldo
saldo

1.1591288108073514

  * dwuletnia na 2.15% w skali roku z dziennym okresem kapitalizacji (zakładamy, że lokata trwa dwa razy po 365 dni).

In [61]:
n4 = 2
p4 = 0.0215
m4 = 365

saldo = 1

for i in range(n4 * m4):
    x = saldo
    saldo = saldo * (1 + p1)
    saldo -= abs(x - saldo) * 0.19

procent4 = saldo
procent4

711242.4672288493

#### Podpunkt b

Tym razem nie pomijamy zaokrągleń w dół do pełnych groszy. Na lokatę wpłacamy 1000,00PLN. Ile złotych (i groszy) zarobią następujące lokaty?

  * dwuletnia na 2.3% w skali roku z rocznym okresem kapitalizacji,

In [68]:
n5 = 2
p5 = 0.023
m5 = 1
kwota5 = 1000

saldo = kwota5

for i in range(n5 * m5):
    x = saldo
    saldo = saldo * (1 + p1)
    saldo = round(saldo, 2)
    saldo -= abs(x - saldo) * 0.19
    saldo = round(saldo, 2)


zysk5 = saldo
zysk5

1037.61

  *  dwuletnia na 2.25% w skali roku z półrocznym okresem kapitalizacji.

In [69]:
n6 = 2
p6 = 0.0225
m6 = 2
kwota6 = 1000

saldo = kwota6

for i in range(n6 * m6):
    x = saldo
    saldo = saldo * (1 + p1)
    saldo = round(saldo, 2)
    saldo -= abs(x - saldo) * 0.19
    saldo = round(saldo, 2)


zysk6 = saldo
zysk6

1076.63

<div style="text-align: right"> Powodzenia!<br><i>Zespół kursu Wstęp do programowania</i></div>